.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
    top: 15%;
    right: 15%;
    position: fixed;
    z-index: -1;
  }
  .circle2 {
    bottom: 5%;
    left: 10%;
    position: fixed;
    z-index: -1;
  }